body{
    background-color:#000000;
    color:#ffffff;
    font-family:monospace;
    margin:30px;
}

h1{
    color:#00ff00;
    text-align:center;
    font-size:32px;
}

h2{
    color:#00e5ff;
    border-bottom:1px solid #00ff00;
    padding-bottom:5px;
}

.clave{
    color:#00e5ff;
    text-transform:uppercase;
}

a{
    color:#00e5ff;
    text-decoration:none;
}

a:hover{
    color:#00ff00;
    text-decoration:underline;
}

img{
    max-width:100%;
    height:auto;
    border:2px solid #00ff00;
    border-radius:8px;
    display:block;
    margin:20px auto;
}

.caja{
    border:1px solid #00ff00;
    background-color:#07121d;
    padding:15px;
    margin:20px 0;
}

.grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:10px;
}

@media(max-width:700px){
    .grid{
        grid-template-columns:1fr;
    }
}
